<div class="container">
    <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
        <button (click)="Listcon()" class="btn btn-info">List</button>
        <button (click)="Addcon()" class="btn btn-info" style="margin-left:
            30px;">New</button>
    </div>
    <div class="card">
        <div class="card-header">
            <h3>Liste des configs</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>NOM ATTRIBUT</th>
                        <th>TYPE ATTRIBUT</th>
                        <th>OPTIONS</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let config of configs" class="text-center">
                        <td>{{config.id}}</td>
                        <td>{{config.attName}}</td>
                        <td>{{config.attType}}</td>
                        <td>{{config.options}}</td>
                        <td>
                            <button (click)="Editcon(config)" class="btn
                                btn-warning" style="margin-right: 0.5cm;">Edit</button>
                            <button (click)="Deletecon(config)" class="btn
                                btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br> <br>
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h3>Formulaire ajouté</h3>
        </div>
        <div class="card-body">
            <form action="" class="container">
                <div *ngFor="let config of configs">
                    <label>{{config.attName}} :</label>
                    <div [innerHTML]="bindComponent(config.attCode)"
                        *ngIf="config.options.length<1">
                    </div>
                    <div *ngIf="config.options.length>0 ">
                        <div *ngFor="let option of config.options">
                            <span
                                [innerHTML]="bindComponent(config.attCode)"></span>
                            <label>{{option}}</label>
                        </div>
                    </div> <br>
                </div>
                <div class="text-center">
                    <button class="btn btn-danger" style="margin-top:
                        0.5cm;">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>