<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Modifier un config</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nom Attribut:</label>
                    <input type="text" class="form-control" name="attNom"
                        [(ngModel)]="modelConfig.attName" name="nomAtt">
                </div>
                <div class="form-group" style="margin-top: 0.5cm;">
                    <label for="">Type Attribut:</label>
                    <div class="form-group" style="margin-top: 0.5cm;">
                        <label for="">Type Attribut:</label> <br>
                        <select name="type" class="form-select form-select-lg
                            mb-3"
                            aria-label=".form-select-lg example"
                            [(ngModel)]="modelConfig.attType" (change)="selected()">
                            <option *ngFor="let type of types"
                                [value]="type.attType">{{type.attType}}</option>
                        </select>
                        <p>Type number :{{modelConfig.attType | json}}</p>
                        <form [formGroup]="form">
                            <div class="form-group"
                                *ngIf="this.modelConfig.attType=='radio' ||
                                this.modelConfig.attType=='checkbox'">
                                <button (click)="addOption()" class="btn
                                    btn-warning">Add Option(s)</button> <br> <br>
                                <div formArrayName="option" *ngFor="let option of
                                    form.controls.option?.value; let i= index;
                                    trackBy: trackByFn" class="row">
                                    <ng-container [formGroupName]="i">
                                        <input placeholder="Option"
                                            class="form-control col"
                                            [(ngModel)]="modelConfig.options[i]"
                                            formControlName="option">
                                        <button type="button" class="btn
                                            btn-outline-secondary col-3"
                                            (click)="removeAddress(i)">Remove Option</button>
                                    </ng-container>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center">
                    <button (click)="Actualisercon(modelConfig)" class="btn
                        btn-danger"
                        style="margin-top: 0.5cm;">Actualiser</button>
                </div>
            </form>
        </div>
    </div>
</div>