<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light
        p-3" href="#!">Home</a>
      <a class="list-group-item list-group-item-action list-group-item-light
        p-3" href="list">Produit</a>
      <a class="list-group-item list-group-item-action list-group-item-light
        p-3" href="clientList">Client</a>
      <a class="list-group-item list-group-item-action list-group-item-light
        p-3" href="configList">Config</a>
    </div>
  </div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <div id="produit">
      <div class="container" style="text-align: center; margin-top: 1.5cm;">
        <h3>GENERATEUR DES INTERFACES GRAPHIQUES</h3>
      </div>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
